
@font-face {
  font-family: Roboto;
  src:url(../../../public/Font/static/Roboto-Medium.ttf);
  weight: 400;
  font-style: Regular
}


@font-face {
  font-family: futura;
  src:url(../../../public/Font/Roboto-VariableFont_wdth\,wght.ttf);

}


.container{
margin: 5px;
 position: relative;
    display:'inline-block';
  height: 260px;
  border: 1px solid #000000;
 border-radius: 10px;

 
}

.container:hover {
.avg {font-size: 21px;
   /* animation: blink 1s infinite;*/
  }
.sensorValue
{
  
  animation: blink 1s infinite;
}


}

.btncontainer{
 
  position: absolute;
    display:'inline-block';
    top: 50px;
    left: 5px;
   
}

.btncontainer > button{
  background-color: #066b14;
width: auto;
height: auto;
border: none;
width: 25px;
height: 30px;



clip-path: polygon(0% 0%, 0% 100%, 100% 50%);

box-shadow: 0 4px #024d0e, 0 6px 20px rgba(0,0,0,0.19);
color: #fff;
font-family: Roboto, sans-serif;
font-size: 16px;
cursor: pointer;
transition: transform 0.1s, box-shadow 0.1s;

&:active {
  box-shadow: 10px 10px 50px 12px lightblue;


}
}






.heading
{height:  90px;
padding: 0px; 
}

.img {
  position: absolute;
  box-sizing: border-box;
  right: 0px;
  margin-right: 3px;
  margin-top: 3px;
}


.sensorName
{
position: absolute;
font-size: 25px;
top: 0px;
left: 50%;
transform: translate(-50%, 0%);
font-family: Roboto;
color: #2f8b0b;
}









.sensorValue
{
  position: absolute;
  font-size: 40px;
  color: #096d12;
font-family: futura;
  left: 50%;
  transform: translate(-50%, 60%);
  display: inline-block;
  padding: 0px;
  margin: 0px;
 
}

.sensorUnit
{
 position: absolute;
  font-size: 24px;
  font-weight: 800;
  color: #08642b;
  padding: 0px;
  top: 55px;
  right: 3%;
}


.avgtxt
{
 position: absolute;
  font-size: 15px;
  font-weight: 400;
  color:#2da733;
  padding: 0px;
  top: 0px;
  left:  3px;
}


.avg
{
position: absolute;
  font-size: 20px;
  font-weight: 500;
  color:#08740e;
  padding: 0px;
  top: 15px;
  left:  2px;
     
}


 @keyframes blink {
            0% {
                opacity: 1;
                
            }

            50% {
            font-family: Roboto;
               
            }

            100% {
                opacity: 1;
            
            }
        }



