
@font-face {
  font-family: HindSMerienda;
  src: url(../../../public/Font/Merienda-Medium.ttf);
  weight: 400;
	font-style: Mediumiliguri;
}


.bg {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin: -0;
  box-sizing: border-box;

}

.LeftsideBar {

  background-color: #f0c9b2;
  box-sizing: border-box;
  flex: 13%;
 min-width: 170px;

  
}


.Rightpanenl {
  position: relative;
  background-color: #d1ebc6;
  flex:87%;
  
 
}



.UserInfo {
 
  background-color: #ffffff;
border: 1px solid #000000;
  padding: 0px;


}
.Info
{ margin-top: 5px;

  background-color: #ffffff;
  border:2px solid #000000;
  padding: 1px;
  padding-top: 10px;
}

.Content {
 margin-top: 5px;
  background-color: #ffffff;
  border: 1px solid #000000;
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;
}

.sensor
{position: relative;
  max-width: 150px;
text-align: center;
margin: 0px;
padding: 0px;
}

.img {
  position: absolute;
  box-sizing: border-box;
  right: 0px;

  margin-right: 3px;
  margin-top: 3px;


}


.sensorName
{position: absolute;
  font-size: 17px;
  font-weight: 800;
  top: 0px;
left: 50%;
  transform: translate(-70%, 30%);
 
}

.sensorValue
{position: absolute;
  font-size: 30px;
  font-family: "HindSMerienda";
 color: #000000;
 top: 8px;
left: 50%;
  transform: translate(-70%, 60%);
 
  display: inline-block;
  padding: 0px;
  margin: 0px;

}

.sensorUnit
{position: absolute;
  font-size: 20px;
  font-weight: 800;
  color: #000000;
  padding: 0px;
top: 70px;
right: 3%;
 

 

}
.sensor1 {
  background-color: #e9b6dd;
}

.sensor2 {
  background-color: #ccbcbc;
}

.sensor3 {
  background-color: #a8969f;
}

.sensor4 {
  background-color: #88b997;
}

.sensor5 {
  background-color: #bebe84;
}

.sensor6 {
  background-color: #a0c9a0;
}

.sensor7 {
  background-color: #c0acb7;
}

.sensor1,.sensor2,.sensor3,.sensor4,.sensor5,.sensor6,.sensor7 {
position: relative;
  margin: 5px;
flex-grow: 2;
min-width: 150px;
max-width: 150px;
height: 100px;
border-radius: 10px;
box-sizing: border-box;
padding: 0px;
}

.sensor1:hover,.sensor2:hover,.sensor3:hover,.sensor4:hover,.sensor5:hover,.sensor6:hover,.sensor7:hover {


box-sizing: border-box;
background-color: #f1cde1;
 }

 
  
   .logoff
   {position: relative;
    height: 30px;
    width: 70px;
    border-radius:40px;
    float: right;
    top: 50%;
  
text-align: center;
 transform: translate(-10px, 0%);
 top: 10px;
  
 border: 1px solid #000000;
    background-color: #d1cdcd;
    color: #000000;
  

  
    padding: 0px;
     cursor: pointer;
    box-sizing: border-box;
   }